<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-button expand="block" fill="clear" routerLink="/Alert">
        <ion-label>Alert</ion-label>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="block" fill="clear" routerLink="/Ion-card">
        <ion-label>Ion Card</ion-label>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="block" fill="clear" routerLink="/Ion-grid">
        <ion-label>Ion Grid</ion-label>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="block" fill="clear" routerLink="/Ion-icon">
        <ion-label>Ion Icon</ion-label>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="block" fill="clear" routerLink="/Ion-item">
        <ion-label>Ion Item</ion-label>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="block" fill="clear" routerLink="/Ion-range">
        <ion-label>Ion Range</ion-label>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>