<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button expand="block" routerLink="/Alert">Block</ion-button>
  <ion-button expand="block" routerLink="/Ion-card">Block</ion-button>
  <ion-button expand="block" routerLink="/Ion-grid">Block</ion-button>
  <ion-button expand="block" routerLink="/Ion-icon">Block</ion-button>
  <ion-button expand="block" routerLink="/Ion-item">Block</ion-button>
  <ion-button expand="block" routerLink="/Ion-item">Block</ion-button>
  <ion-button expand="block" routerLink="/Ion-range">Block</ion-button>
</ion-content>
